*{
      margin: 0;
      padding: 0;
      box-sizing:border-box;
}

body{
      width: 100vw;
      height: 100vh;
      text-align:center;
      background: #FAFAFA;
      padding: 0 10px ;
      margin: 20px;
      
}

nav{
      display:flex;
      align-items:center;
     justify-content:center;
    
     gap:100px;
     margin-top:40px;
     margin-bottom:100px ;
     
      
}

h1{
      color: #5000ff;
      margin-left:10px ;
      font-size:30px;
      text-align:center;
      margin-right: 10px;
}

span{
      color: #e300ff;
}



li{
      display:inline-block;
      padding:5px;
      margin:5px;
      color: #6500ff;
      cursor:pointer;
      margin-top:10px;
      gap:50px;
    
      
}

a{
      text-decoration: none;
}

a:hover{
      text-decoration: underline;
      color: #e300ff;
}


section img{
      width: 500px;
      margin-bottom:40px;
}

section h2{
      color: #7a00ff;
      font-size: 40px;
}


section p{
      color: #e300ff;
      font-size: 30px;
      font-weight:bold;
      margin-bottom:100px;
}


 div h3{
      color: #0057ff;
      font-size: 30px;
      margin-bottom:50px;   
}

div p{
      color: #0000007f;
      font-size: 20px;
      margin-bottom:50px;   
}


 h2{
      color: #0057ff;
      font-size: 30px;
      margin-bottom:50px;   
}

.container-img{
      position: relative; 
}

.melancia {
      width: 400px;
      margin-bottom: 40px;
        
     
}


.suco{
      width: 450px;
      position: absolute;  
      right:20px;
      top:5px;
    
      transition: opacity 3s ease-in-out;
   
}
.banana{
      width: 400px;
      margin-bottom: 40px;
        
}

.container-img2{
      position: relative; 
}

.bolo{
      height: 299px;
      position: absolute;  
      transition: opacity 3s ease-in-out;
      left:20px;
}

 .box{
      color: #0057ff;
      font-size: 20px;
      
}

.master{
      width: 300px;
      height: 200px;
      margin-bottom:30px;
      border: 2px solid black;
      border-radius:50px;
      
}





footer h4{
      color: #0057ff;
      font-size: 20px;
      
}


footer img{
      width: 50px;
      height: 50px;
      border-radius:50px;
      transition:0.5s;
      cursor:pointer;
      margin-top:5px ;
      margin-bottom:30px ;
}

footer img:hover{
     
      border: 2px solid white;
      transition:0.5s;
      opacity:0.8;
      background:#333; 
      color:#fff; 
    
      transform:scale(1.02);
      -ms-transform:scale(1.02);
      -webkit-transform:scale(1.30);
      
}

